/* .Person{
  background-color: bisque;
  align-content: center;
  border: 5px solid purple;
  width: 30%;
  margin: 16px auto;
  box-shadow: 0 2px 3px greenyellow;
  padding: 5px;
  text-align: center;
} */
